@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

   * {
    margin: 0;
    padding: 0;
    list-style: none;
   }

   a {
    text-decoration: none;
   }
        
    .sidebar {
    background: #fff;
    width: 300px;
    height: 100vh;
    position: fixed;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    z-index: 11;
  }
  
  .sidebar.active {
      transform: translateX(0px);
  }
  
  .sidebar .head {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      text-align: start;
      padding: 16px;
  }
  
  .sidebar .head i {
    color: white;
      font-weight: 900;
      font-size: 30px;
  }
  
  
  .sidebar .head i:hover {
    color: #2dc997;
    cursor: pointer;
  }
  
  .sidebar .body a {
      text-decoration: none;
      display: block;
      padding: 30px 30px 30px;
      color: black;
      font-weight: 300;
      font-size: 14px;
  }

  .sidebar .body .main {
    font-family: 'Poppins', sans-serif;
  }
  
  .sidebar .body a:hover {
      color: #2dc997;
      transition: all 300ms ease;
      transform: scale(1.1);
  }


    .navbar1 {
        padding: 20px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 8px 5px -3px rgba(94,76,76,0.52);
-webkit-box-shadow: 1px 8px 5px -3px rgba(94,76,76,0.52);
-moz-box-shadow: 1px 8px 5px -3px rgba(94,76,76,0.52);
font-family: 'Poppins', sans-serif;
    }

    .navbar1 .icon  .inactive {
    background-color: rgba(0,0,0,0.5);
        
    }

    .navbar1 .icon {
        font-size: 25px;
        cursor: pointer;
    }

    .navbar-left img {
        width: 100px;
        margin-left: 40px;
    }

    .navbar-left div:hover {
        color: #2dc997;
    }

    .navbar-left, .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar-left > *, .navbar-right > * {
        margin: 10px;
    }


    .box1 {
        height: 40px;
        display: flex;
        cursor: pointer;
        padding: 10px 20px;
        background: #fff;
        border-radius: 30px;
        align-items: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .box1:hover input {
        width: 200px;
    }

    .box1 input {
        width: 0;
        outline: none;
        border: none;
        font-weight: 500;
        transition: 0.8s;
        background: transparent;
    }

    .box1 a .bi {
        color: #000;
        font-size: 18px;
    }

    .login, .register {
        font-weight: 500;
        border: 1px solid black;
        border-radius: 40px;
        padding: 5px 20px 5px 20px;
    }

    .login a {
        color: black;
        text-decoration: none;
    }

    .login a:hover {
        color: black;
    }

    .login:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .register {  
        background-color: black;
    }

    .register a{
        color: white;
        text-decoration: none;
    }

    .register a:hover {
        color: white;
    }

    .register:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .list {
        margin: 0;
        padding: 0;
    }

    .list ol li {
        width: 25rem;
        height: 16vh;
        margin: 0 0 10px 0;
    }

    .kotak a{
        color: black;
        text-decoration: none;
    }

    .kotak a:hover {
        color: #2dc997;
        text-decoration: underline;
    }


    .more-news {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    color: #000;
    padding: 0 5%;
    text-align: justify;
    height: 215vh;
    width: 100%;
}

.more-news img {
    position: relative;
    width: 200px;
    height: 17vh;
}


aside {
    flex-basis: 25%;
    border: 1px;
    margin: 20px 0;
    border-radius: 5px;
    height: 100vh;
}

aside:hover {
    cursor: pointer;
}

.recent-news {
    display: flex;
}

.recent-news h6 {
    font-family: 'Poppins', sans-serif;
}

.recent-news h6:hover {
    color: #2dc997;
    text-decoration: underline;
}

.recent-news img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    border: 1px solid ;
}

.recent-news p {
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

.cantainer {
    margin-top: 100px;
    margin-right: 30px;
    flex-wrap: wrap;
}

.cantainer .card {
    background-color: silver;
    width: 260px;
    padding: 20px;
    margin: 30px;
    justify-content: start;
}

.cantainer .card:hover .card-content {
    margin-top: -60px;
}

.cantainer .card:hover .text-group {
    top: 90px;
    opacity: 1;
}

.cantainer .card .card-cover {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: -60px;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantainer .card .card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.cantainer .card .card-content {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: -200px;
    position: relative;
    overflow: hidden;
    transition: margin-top .3s ease-out;
}

.card-content .text-group {
    position: absolute;
    top: -50px;
    opacity: 0;
    transition: top .3s .3s ease-out;
}

.card-content .text-group h3  {
    margin-bottom: 15px;
}

.button {
    color: black;
    position: relative;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    transition: all .50s ease;
    text-decoration: none;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: rgba(30, 233, 186, .3);
    width: 56px;
    height: 56px;
    transition: all .50s ease;
}

.button span {
    position: relative;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.button i {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .50s ease;
}

.button:hover {
    color: #fff;
}

.button:hover::before {
    width: 20%;
    background: #1ee9ba;
}

.button:hover i {
    stroke: #000;
    transform: translateX(0);
}

.button:active {
    transform: scale(.95);
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover {
    transform: translateY(-10px);
  }
  
  .team .member .member-info {
    padding-left: 30px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
  }
  
  .team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .social a:hover {
    background: #47b2e4;
  }
  
  .team .member .social a:hover i {
    color: #fff;
  }
  
  .team .member .social a+a {
    margin-left: 8px;
  }

  .aplikasi {
    margin-bottom: 100px;
  }

  .test{
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
}

.test:hover{
    filter: none;
  opacity: 1;
}



.test{
    opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.test:hover{
    filter: none;
  opacity: 1;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
