@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: none;
  }

.gambar1 {
    width: 90%;
    height: 70vh;
   }

   .gambar1 img {
    position: relative;
    object-fit: cover;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
   }

   .logo1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .logo1 img {
    width: 100px;
   }

   .icon a{
    margin-right: 15px;
    font-size: 20px;
    color: black;
   }

   .icon a:hover {
    color: #37517e;
   }

   .main-content1 h1 {
    font-family: 'Poppins', sans-serif;
   }

   .main-card {
    background: rgba(0, 0, 0, 0.06);
   }

   .main-card:hover {
    background: rgb(255, 255, 255);
    color: #2dc997;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    transform: scale(1.1);
   }

   .main2 {
    color: #000;
   }

   .main2:hover {
    color: #2dc997;
   }

   /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 10px;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #47b2e4;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}

.aplikasi {
  margin-bottom: 100px;
}

//contact
.container1 {
  width: 80%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
}

.contact-box {
  background: #fff;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #333;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.container h1 {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
.container p {
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}

.button {
  background: #333;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3 {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  padding-top: 20px;
}